
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

/* .event-list {
  border: 1px solid black;
  width: 100%;
  height: 75vh;
  overflow: hidden scroll;
} */

/* #event-list {
  width: 100%;
  height: 75vh;
} */

ul {
  list-style: none;      
  padding: 0;            
  margin: 0 auto;       
  text-align: center;    
}

ul li {
  display: inline-block;
  margin: 0 10px;        
}

.event {
  width: 75vw;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.event-container {
  display: flex;
  margin: 0 auto;
  padding: 0 auto;
}

.suggestions li {
  display: block !important;
}

.button-container {
width: 24%;
margin-left: 1%;
align-content: center;
}

.button {
  cursor: pointer;
}

.date-container {
  width: 50%;
  text-align: left;
}

.summary-container {
  width: 24%;
  margin-right: 1%;
  text-align: left;
}

.summary-container p {
  font-size: small;
  margin-top: 1px;
}

.summary-container h3 {
  margin-bottom: 0;
}

.details {
  text-align: left;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts{
  height: 200px;
}

.body {
  height: 800px;
  overflow: hidden scroll;
}